[Unit]
Description=Poll web application

[Service]
User=root
Environment
WorkingDirectory=/root/poll/
ExecStart=flask run --host=0.0.0.0 --port=2222
Restart=always
